* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
}


body {
    background-color: #333333;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    /* Ativar o flex para horizontal, space evenly pra melhorar a distribuição */
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

a {
    list-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}

iframe {
    /*Iframe é o conteudo do video declarado no index.html */
    box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
}

a:hover {
    color: #00baff;
}




/*t*/


.card {

    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px auto;
    border-radius: 16px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 10px #ffffff, 0px 0px 20px rgba(0, 0, 0, 0.8);

}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.banner-1 {
    background-image: url('./Imagens/CR.png');
}

.banner-2 {
    background-image: url('./Imagens/CR4.gif');
}

.banner-3 {
    background-image: url('./Imagens/eduardo\ web3.png');
}

.boldname {
    font-weight: 900;
}

.boldnameblue {
    font-weight: 900;
    color: #00baff;
    font-size: 48px;



}

.boldnameorange {
    font-weight: 900;
    font-size: 48px;
    color: #FF8700;
}

.boldwhite {
    font-weight: 900;
    color: #ffffff;
    font-size: 16px;
}

footer {
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-around;
}

span {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}


/*botões redes sociais iconesweb*/

.iconesweb {
    margin-top: 15px;
}

.iconesweb a {
    position: relative;
    display: inline-block;
    margin-right: 70px;
}

.iconesweb img {
    width: 48px;
    transition: transform 0.3s, color 0.3s;
}

.iconesweb img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.iconesweb img+img {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.iconesweb a:hover img {
    visibility: hidden;
}

.iconesweb a:hover img+img {
    visibility: visible;
}

/*botões redes sociais iconesweb*/


.container {
    display: grid;
}

.antetitulo {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 48px;
}

.subtitulo {
    font-family: 'Roboto', sans-serif;
    color: #00baff;
    font-weight: 900;
    font-size: 48px;
}

.texto {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    font-size: 24px;
    max-width: 35vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titulo, .subtitulo, .texto, .antetitulo {}

.linha1, .linha2, .linha3{
    min-height: 800px;
    width: auto;
    box-shadow: 0px 0px 8px #00baff, 0px 0px 8px rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
}

.linha4{
    min-height: 800px;
    width: auto;
    box-shadow: 0px 0px 8px #00baff, 0px 0px 8px rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;

}


.item1, .item2 {
    height: 900px;
    width: auto;
    margin-inline-start: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.linha1 .item1 {
    background-image: url('./Imagens/Foto_Pagina2.jpg');
    background-size: 40vw;
    
    
}

.item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

/*Neste exemplo, o padding será aplicado apenas aos elementos .antetitulo, .titulo, .subtitulo, e .texto que estão dentro do .item2. 
Se esses elementos também existirem fora do .item2 e você não desejar que o padding seja aplicado a eles, eles não serão afetados por essas regras.*/
.item2 .antetitulo,
.item2 .titulo,
.item2 .subtitulo,
.item2 .texto {
    padding: 2px;
}

.linha2 .item1{
    background-image: url('./Imagens/fotolivro.jpg');
    background-size: 35vw;
}
.linha3 .item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha3 .item1 iframe {
    max-width: 100%;
    max-height: 100%;
}





/* Adicione estilos adicionais conforme necessário */
.project-cards-container2 {
    width: 80%;
    display: flex;
    justify-content: center;
}

.cards-content2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;

}

.card {

    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20vw;
    border-radius: 16px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 10px #ffffff, 0px 0px 20px rgba(0, 0, 0, 0.8);

}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.banner-1 {
    background-image: url('./Imagens/CR.png');
}

.banner-2 {
    background-image: url('./Imagens/CR4.gif');
}

.banner-3 {
    background-image: url('./Imagens/eduardo\ web3.png');
}










.gridcontainerss {
    display: none;
}



@media (min-width: 1141px) and (max-width: 1649px) {}


@media (min-width: 1141px) and (max-width: 1268px) {}

@media (max-width: 768px) {

    .container {
        display: none;
    }

    footer {
        display: none;
    }

    .footer-list {
        display: none;
    }

    nav {
        display: none;
    }

    .footer-navigation {
        display: none;
    }

    #background-banner {
        display: none;
    }

    #pretitle {
        display: none;
    }

    #background-text2 {
        display: none;
    }

    #background-text3 {
        display: none;
    }

    #background-text4 {
        display: none;
    }

    .icon-container {
        display: none;
    }

    #background-container1 {
        display: none;
    }

    #background-container-about1 {
        display: none;
    }

    #background-container-aboutme {
        display: none;
    }

    #background-container-about2 {
        display: none;
    }

    #trailer-container {
        display: none;
    }

    #antetitlesinopse {
        display: none;
    }

    #video-container {
        display: none;
    }

    #sinopsecontainer {
        display: none;
    }

    #sinopsetext1 {
        display: none;
    }

    #sinopsetext2 {
        display: none;
    }

    .cards-content {
        display: none;
    }

    .project-cards-container {
        display: none;
    }

    .gridcontainer1 {
        align-items: center;
    }

    .columncontainer1 {
        text-align: center;
        padding: 10px;
    }

    .columncontainer2 {}

    #mainphoto {
        display: block;
        width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .icon-container2 {
        display: block;
    }


    .icon-container2 {
        /*Posso mover a linha de ícones livremente*/
        padding-top: 10px;

    }



    .icon-container2 img {
        width: 40px;
        height: auto;
        transition: transform 0.3s, color 0.3s;
        margin-right: 20px;

    }


    .gridcontainerss {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .columnss {
        text-align: center;
        display: grid;
    }

    .rowss {

        display: grid;
    }

    #imagemob2 {
        margin-top: 15px;
    }

    #secondphoto {
        display: block;

        width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .rowss:nth-child(1) {
        /*aqui é a foto */
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .rowss:nth-child(2) {

        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        width: 320px;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.5px;
        /*aqui é o texto*/
    }

    .rowss:nth-child(3) {
        /*icon cont.*/
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .rowss:nth-child(4) {
        /*foto livro 2*/
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .rowss:nth-child(5) {
        /* texto sobre mim*/
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        width: 310px;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.6px;
    }

    .rowss:nth-child(6) {
        /*nome conhece recife*/
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.6px;
    }

    .rowss:nth-child(7) {
        /*video*/
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        width: 310px;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        letter-spacing: 0.6px;
    }

    .rowss:nth-child(8) {
        /* contxto do video l8*/
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        width: 310px;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .rowss:nth-child(9) {
        /* cards*/

    }

    .rowss:nth-child(10) {
        /* */

    }

    #logo {
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0 auto;
        /* Centraliza horizontalmente */
    }

    .rowss:nth-child(11) {
        /* */

    }

    .card {
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150px auto;
        transition: 1s;
        display: flex;
        text-align: left;
        color: #ffffff;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px 0px 10px #ffffff, 0px 0px 20px rgba(0, 0, 0, 0.8);
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .card p {
        text-align: left;
    }

    .banner-2 {
        background-size: 130px auto;

    }



}

/*@media(max-width:768px){
    .footer-navigation{
        display: block;
    }

    nav{
    display: none;
    }

    #backgroundbanner{
        background-position: 40%;
    }

    #background-text1{
        display: none;
    }
    #background-text2{
        display: none;
    }
    #background-text3{
        display: none;
    }
    #background-text4{
        position: absolute;
        width: 50%;
        height: 600px;
    }

 
    #background-container1 {
        visibility: hidden;
    }
    
    #background-container-aboutme{
   
    }

    #background-container-about{

    }

    
#trailer-container {
    
}
.cards-content{
    grid-template-columns: 1fr;
    margin-top: 150px;
}
}*/