@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

body {
    background-color: #333333;
}

span {
    color: #ffffff;
  }

footer {
    height: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-around;
  }

a { /*link*/
    list-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    transition: .5s;
}

a:hover {
    color: #00baff;
}

iframe {
    box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
}
.containerofphotos {
    justify-content:center !important;
}
.titulo .texto{
    display: none;
    display: block;
}
.gridcontainers {
    display: flex;
    flex-direction: column;
    margin-top:   110px;

  }
  
  .columns {
    display: flex;
    flex-direction: column; /* Alterado para column para empilhar as linhas verticalmente */
  }
  
  .rows {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    justify-content:center
  }

  .rowss, .titulo-desktop {
    justify-content:center
  }


  
.antetitulo-desktop {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.titulo-desktop {
    color: white;
    font-weight: 900;
    font-size: 48px;
    text-align: center;

}

.subtitulo-desktop {
    color: #00baff;
    font-weight: 900;
    text-align: center;
    font-size: 48px;

}

.texto-desktop {
    color: white;
    text-align: center;
    font-size: 24px;
    max-width: 36vw;
    overflow: hidden;
    text-overflow: ellipsis;
}


.gridcontainerss{
    display: none;
}


.gridcontainerss2 {
    display: none; /* Para garantir que está oculto fora do @media */
  }





























@media (max-width: 768px) {

    .titulo {
        color: white;
        font-weight: 900;
        font-size: 24px;
        display: block;
    }
    
    .subtitulo {
        color: #00baff;
        font-weight: 900;
        font-size: 24px;
        display: block;
    }
    
    .texto {
        color: white;
        text-align: center;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
    .containerofphotos{
margin-top: 50px;
margin-left: 0;
    }
    .gridcontainers{
        display: none;
    }
    .gridcontainers3{
        display: none;
    }
    .gridcontainerss {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gridcontainerss2 {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .columnss {
        text-align: center;
        display: grid;
    }
    .rowss {

        display: grid;
    }
 
    .antetitulo {
        color: #ffffff;
        font-size: 12px;
        font-weight: 300;
    }
    
    
.rowss .texto:nth-child(1) {
font-weight: 300;
 }

.rowss .texto, .titulo, .antetitulo{
    color: white;
    text-align: center;
    margin: 4px 15px;
    
}

.gridcontainerss2 {
    display: block; /* Mostra dentro do @media */
  }



}