@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

body {
    background-color: #333333;
}

span {
    color: #ffffff;
  }

footer {
    height: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-around;
  }

a { /*link*/
    list-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    transition: .5s;
}



iframe {
    box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
}


label {
    color: white;
}

.col2 img[src='./Imagens/Fotos do Portfólio/foto3.jpg'] {
    width: auto;
    height: 28vw;
    display: block; /* Para remover espaços em branco abaixo da imagem */
    margin: 0 auto; /* Adiciona margem automática nas laterais para centralizar */
 }


 .antetitulo {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.titulo {
    color: white;
    font-weight: 900;
    font-size: 48px;
}

.subtitulo {
    color: #00baff;
    font-weight: 900;
    font-size: 48px;
}

.texto {
    color: white;
    text-align: left;
    font-size: 24px;
    max-width: 35vw;
    overflow: hidden;
    text-overflow: ellipsis;
}




 .caixa {
    display: grid;
    grid-template-columns:1fr 1fr 1fr; /* Largura de 200px para col1, o restante para col2 */
    grid-template-rows: auto auto auto; /* Duas linhas em cada coluna com 300px cada */
    width: auto;
    height: 600px;
    margin-top: 150px;
    grid-template-areas: 
        "col1 col2 col3";
        overflow: hidden;
}

.col1 {
 margin-left: 100px;
    grid-area: col1; /* Associa à área especificada em grid-template-areas */
}

.col2 {
    
    grid-area: col2; /* Associa à área especificada em grid-template-areas */
}

.col3 {

    grid-area: col3; /* Associa à área especificada em grid-template-areas */
}

  
  .li1 {
   
    height: 400px ;
    width:auto;
    
  }
  .col3 .li1 {
   
    height: 30vw ;
    width:auto;
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
   align-content: start;

    
  }
  .col2 .li1{

  }

  .col3 .li2 {
    height: 100px;
  }


  .li2 {
    display: flex;
    height: 250px ;
    width:auto;
    align-items: center;
    justify-content: center;
    
  }
  
.col3 .li1, .texto .antetitulo .subtitulo{

    text-align: center;
}



.campo input,
.campo-mensagem textarea {
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 15px;
    width: 20vw; /* Ocupa a largura total do container */
    box-sizing: border-box;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
}

label {
    color: white;
    font-weight: bold;
    min-width: 20vw;
    text-align: center; /* Centraliza o texto da label */
}

.campo-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
}

.campo-mensagem label {
    text-align: left;
}
.campo label {
    text-align: left;
 
}


.campo-mensagem textarea {
    margin-top: 15px;
    margin-left: 0;
    width: 20vw; /* Ocupa a largura total do container */
    height: 15vw;
    box-sizing: border-box;
    text-align: left; /* Alinha o texto à esquerda dentro do textarea */
}

.campo-mensagem textarea,
.campo input {
    margin-bottom: 10px;
}

.campo-botao {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Ocupa a largura total do container */
    margin-top: 20px;
}

.myButton {
    
    background: linear-gradient(to bottom, #00bbff 5%, #00bbff 100%);
    background-color: #00bbff;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    
}

.myButton:hover {
    background: linear-gradient(to bottom, #00bbff 5%, #00bbff 100%);
    background-color: #00bbff;
}

.myButton:active {
    position: relative;
    top: 1px;
}

 .icon-container2{
    display: none;
 }
.gridcontainerss{
    display: none;
}

.box{
    display: none;
}

 .formulario {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Exibir os campos verticalmente */
    width: 80%; /* Ajuste a largura conforme necessário */
    height: 90px;
}

.iconesweb {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza horizontalmente */
    margin-left: 25px;
}

.iconesweb a {
    position: relative;
    display: inline-block;
   margin-inline: 2.1vw;
}

.iconesweb img {
    width: 48px;
    transition: transform 0.3s, color 0.3s;
}

.iconesweb img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.iconesweb img+img {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.iconesweb a:hover img {
    visibility: hidden;
}

.iconesweb a:hover img+img {
    visibility: visible;
}






















@media (max-width: 768px) {

    .gridcontainerss img[src='./Imagens/Fotos do Portfólio/foto3mob.jpg'] {
        width: auto;
        height: 100vw;
   display: flex;
   margin-top: 50px;
     }
 .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

   .caixa{
    display: none;
   }
    .titulo {
        color: white;
        font-weight: 900;
        font-size: 24px;
        text-align: center;
        width: auto;
    }

    .subtitulo {
        color: #00baff;
        font-weight: 900;
        font-size: 32px;
        text-align: center;
        width: 90vw;
        margin-top: 35px;

    }

    .texto {
      
    }
    .box .texto1{
        color: white;
        text-align: center;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90vw;
        margin-top: 2vw

    }

    .gridcontainerss {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .formulario {
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Exibir os campos verticalmente */
}
    

    .campo input,
.campo-mensagem textarea {
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 15px;
    width: 100%; /* Ocupa a largura total do container */
    box-sizing: border-box;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    width: 100%; 
}

    label {
        color: white;
        font-weight: bold;
        min-width: 250px;
        justify-content: center;
        display: flex;
    }

    .campo-mensagem textarea {
        margin-top: 15px;
        margin-left: 0;
        width: 100%; /* Ocupa a largura total do container */
       
    }

    .campo-mensagem textarea,
    .campo input {
        margin-bottom: 10px;
        
    }

    .campo-botao {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        width: 100%; /* Ocupa a largura total do container */
        
    }

    
    .icon-container2 {
        display: flex;
        margin-top: 168px;
        align-items: center;
        justify-content: center;
        
    }
    
    .icon-container2 a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 0 10px; /* Espaçamento entre os ícones */
    }
    
    .icon-container2 img {
        width: 100%;
        height: 100%;
    }
    
    
}
