* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 150px;
    height: auto;
  }


body {
    background-color: #333333;
}

a {
  list-style: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  transition: .5s;

}

iframe {
  /*Iframe é o conteudo do video declarado no index.html */
  box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
}

a:hover {
  color: #00baff;
}


footer {
  height: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: space-around;
}

span {
  color: #ffffff;
}



/*H E A D E R */


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #333333;
    box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
  }
  .navbar #logo a{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 32px;
  }
  
  
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #00baff;
    box-shadow: 0 1px 2px rgba(0, 186, 255, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(0, 186, 255, 0.2);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .htmlCss-more-sub-menu{
    /* line-height: 40px; */
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #333333;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #333333;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #333333;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }

/*F I M - H E A D E R */




/* C A R D S */ 

.card {

    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px auto;
    border-radius: 16px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #ffffff;
    font-size: 17px;
    box-shadow: 0px 0px 10px #ffffff, 0px 0px 20px rgba(0, 0, 0, 0.8);

}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.banner-1 {
    background-image: url('./Imagens/Fotos\ do\ Portfólio/CR.png');
}

.banner-2 {
    background-image: url('./Imagens/Fotos\ do\ Portfólio/CR4.gif');
}

.banner-3 {
    background-image: url('./Imagens/Fotos do Portfólio/logo.png');
}

.boldname {
    font-weight: 900;
}

/* C A R D S */ 

.boldnameblue {
    font-weight: 900;
    color: #00baff;
    font-size: 48px;
}

.boldnameorange {
    font-weight: 900;
    font-size: 48px;
    color: #FF8700;
}

.boldwhite {
    font-weight: 900;
    color: #ffffff;
    font-size: 16px;
}


/*botões redes sociais iconesweb*/

.iconesweb {
    margin-top: 15px;
}

.iconesweb a {
    position: relative;
    display: inline-block;
    margin-right: 70px;
}

.iconesweb img {
    width: 48px;
    transition: transform 0.3s, color 0.3s;
}

.iconesweb img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.iconesweb img+img {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.iconesweb a:hover img {
    visibility: hidden;
}

.iconesweb a:hover img+img {
    visibility: visible;
}

/*botões redes sociais iconesweb*/


.container {
    display: grid;
}

.antetitulo {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.titulo {
    color: white;
    font-weight: 900;
    font-size: 48px;
}

.subtitulo {
    color: #00baff;
    font-weight: 900;
    font-size: 48px;
}

.texto {
    color: white;
    text-align: left;
    font-size: 24px;
    max-width: 35vw;
    overflow: hidden;
    text-overflow: ellipsis;
}


.linha1, .linha2, .linha3{
    min-height: 800px;
    width: auto;
    box-shadow: 0px 0px 8px #00baff, 0px 0px 8px rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
}

.linha4{
    min-height: 800px;
    width: auto;
    box-shadow: 0px 0px 8px #00baff, 0px 0px 8px rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;

}


.item1, .item2 {
    height: 900px;
    width: auto;
    margin-inline-start: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.linha1 .item1 {
    background-image: url('./Imagens/Fotos\ do\ Portfólio/foto1.jpg');
    background-size: 40vw;
    
    
}

.item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

/*Neste exemplo, o padding será aplicado apenas aos elementos .antetitulo, .titulo, .subtitulo, e .texto que estão dentro do .item2. 
Se esses elementos também existirem fora do .item2 e você não desejar que o padding seja aplicado a eles, eles não serão afetados por essas regras.*/
.item2 .antetitulo,
.item2 .titulo,
.item2 .subtitulo,
.item2 .texto {
    padding: 2px;
}

.linha2 .item1{
    background-image: url('./Imagens/Fotos\ do\ Portfólio/foto2.jpg');
    background-size: 35vw;
}
.linha3 .item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha3 .item1 iframe {
    max-width: 100%;
    max-height: 100%;
}

.project-cards-container2 {
    width: 80%;
    display: flex;
    justify-content: center;
}

.cards-content2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;

}

.card {

    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20vw;
    border-radius: 16px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #ffffff;
    font-size: 17px;
    box-shadow: 0px 0px 10px #ffffff, 0px 0px 20px rgba(0, 0, 0, 0.8);

}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #00baff, 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.banner-1 {
    background-image: url('./Imagens/Fotos\ do\ Portfólio/CR.png');
}

.banner-2 {
    background-image: url('./Imagens/Fotos\ do\ Portfólio/CR4.gif');
}

.banner-3 {
    background-image: url('./Imagens/Fotos do Portfólio/logo.png');
}


.gridcontainerss {
    display: none;
}
/*Ocultar o container do mobile */


@media (min-width: 1141px) and (max-width: 1649px) {}


@media (min-width: 1141px) and (max-width: 1268px) {}

@media (max-width: 768px) {


/* M I D I A - H E A D E R */

    .navbar .bx-menu{
        display: block;
      }
   

      nav .navbar .nav-links{
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background:  #00baff;
        line-height: 40px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
      }
      .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .sidebar-logo .logo-name{
        font-size: 24px;
        color: #fff;
      }
        .sidebar-logo  i,
        .navbar .bx-menu{
          font-size: 24px;
          color: #fff;
        }
      nav .navbar .links{
        display: block;
        margin-top: 20px;
      }
      nav .navbar .links li .arrow{
        line-height: 40px;
      }
    nav .navbar .links li{
        display: block;
      }
    nav .navbar .links li .sub-menu{
      position: relative;
      top: 0;
      box-shadow: none;
      display: none;
    }
    nav .navbar .links li .sub-menu li{
      border-bottom: none;
    
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
      position: relative;
      left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow{
      transform: rotate(0deg);
      }
      .navbar .links li .sub-menu .more-sub-menu{
        display: none;
      }
      .navbar .links li .sub-menu .more span{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
      }
    
      .links li .sub-menu .more:hover .more-sub-menu{
        display: none;
      }
      nav .navbar .links li:hover .htmlCss-sub-menu,
      nav .navbar .links li:hover .js-sub-menu{
        display: none;
      }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
      .navbar .nav-links.show3 .links .js-sub-menu,
      .navbar .nav-links.show2 .links .more .more-sub-menu{
          display: block;
        }
        .navbar .nav-links.show1 .links .htmlcss-arrow,
        .navbar .nav-links.show3 .links .js-arrow{
            transform: rotate(180deg);
    }
        .navbar .nav-links.show2 .links .more-arrow{
          transform: rotate(90deg);
        }
    

/*FIM MIDIA HEADER*/





    
    .container {
        display: none;
    }

    footer {
        display: none;
    }

    .footer-list {
        display: none;
    }

    .footer-navigation {
        display: none;
    }


    #pretitle {
        display: none;
    }


    .icon-container {
        display: none;
    }

    
    #trailer-container {
        display: none;
    }

    #antetitlesinopse {
        display: none;
    }

    #video-container {
        display: none;
    }

    .cards-content {
        display: none;
    }

    .project-cards-container {
        display: none;
    }

    .gridcontainer1 {
        align-items: center;
    }

    .columncontainer1 {
        text-align: center;
        padding: 10px;
    }

    .columncontainer2 {}

    #mainphoto {
        display: block;
        width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .icon-container2 {
        display: block;
    }


    .icon-container2 {
        /*Posso mover a linha de ícones livremente*/
        padding-top: 10px;

    }



    .icon-container2 img {
        width: 40px;
        height: auto;
        transition: transform 0.3s, color 0.3s;
        margin-right: 20px;

    }
nav .navbar #logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

    .gridcontainerss {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .columnss {
        text-align: center;
        display: grid;
    }

    .rowss {

        display: grid;
    }

    #imagemob2 {
        margin-top: 15px;
    }

    #secondphoto {
        display: block;

        width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .rowss:nth-child(1) {
        /*aqui é a foto */
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .rowss:nth-child(2) {

        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        width: 320px;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.5px;
        /*aqui é o texto*/
    }

    .rowss:nth-child(3) {
        /*icon cont.*/
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .rowss:nth-child(4) {
        /*foto livro 2*/
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .rowss:nth-child(5) {
        /* texto sobre mim*/
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        width: 310px;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.6px;
    }

    .rowss:nth-child(6) {
        /*nome conhece recife*/
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.6px;
    }

    .rowss:nth-child(7) {
        /*video*/
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        width: 310px;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        letter-spacing: 0.6px;
    }

    .rowss:nth-child(8) {
        /* contxto do video l8*/
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        width: 310px;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .rowss:nth-child(9) {
        /* cards*/

    }

    .rowss:nth-child(10)  {
        

    }
    .rowss:nth-child(11) {
        /* */
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card {
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150px auto;
        transition: 1s;
        display: flex;
        text-align: left;
        color: #ffffff;
        font-size: 17px;
        box-shadow: 0px 0px 10px #ffffff, 0px 0px 20px rgba(0, 0, 0, 0.8);
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .card p {
        text-align: left;
    }

    .banner-2 {
        background-size: 130px auto;

    }



}